@import "../../index.scss";

.fileInput {
    margin: 30px 0;

    >input {
        height: 88px;
        padding: 20px;
        font-size: 1.25rem;
        font-weight: 500;
        outline: none;
        color: rgba(255, 255, 255, .56);
        background-color: transparent;
        transition: .25s ease all;
        width: 100%;
        border-radius: 25px;
        border: 1.5px solid #532A9D;

        &:focus {
            font-size: 2rem;
        }
    }

    input[type="number"] {
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            margin: 0;
            appearance: none;
        }
    }

    >div {
        @include flex($direction:column, $align:flex-start);
        gap: 15px;
        width: 100%;

        >div {
            &:nth-of-type(1) {
                height: 165px;
                padding: 20px;
                font-size: 1.25rem;
                font-weight: 500;
                outline: none;
                color: rgba(255, 255, 255, .56);
                background-color: transparent;
                width: 100%;
                border-radius: 25px;
                border: 3px dotted #532A9D;
                cursor: pointer;
                @include flex($justify:space-between);

                span {
                    font-size: 1.25rem;
                    font-weight: 500;

                    svg {
                        font-size: 3.2rem;
                    }
                }
            }
        }

        &:last-of-type {
            align-items: center;

            button {
                background-color: rgba(83, 42, 157, 0.53);
                outline: none;
                border: none;
                width: 405px;
                height: 75px;
                border-radius: 25px;
                font-weight: 500;
                text-transform: capitalize;
                font-size: 1.75rem;
                color: white;
                cursor: pointer;
            }
        }
    }

    ul {
        gap: 25px;
        list-style: none;
        width: 100%;
        overflow: auto;
        display: inline-flex;
        padding: 20px;

        &::-webkit-scrollbar {
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(74, 74, 74);
            border-radius: 5px;
        }

        li {
            height: 100px;
            min-width: 320px;
            gap: 10px;
            @include flex();
            border: 5px rgb(83, 42, 157, .3) dotted;
            padding: 10px;
            border-radius: 5px;

            div {
                @include flex();

                span {
                    height: 100%;
                    @include flex;

                    &:nth-of-type(1) {
                        color: #CCD2E3;
                        font-size: 2rem;
                        padding-right: 15px;
                    }

                    &:nth-of-type(2) {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: #82CCEC;
                        padding: 2px;
                        width: 220px;
                        text-align: center;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }

            >span {
                font-size: 1.2rem;

                .spinner {
                    color: #CCD2E3;
                    animation: spin 1.5s linear infinite;
                }

                .trash {
                    transition: .2s ease all;
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}