@import "../../index.scss";

.landing {
    position: absolute;
    width: 100%;
    top: 70px;
    @include flex($direction:column);

    >img {
        width: 410px;
        height: 410px;
        object-fit: contain;
    }

    >p {
        color: white;

        &:nth-of-type(1) {
            font-size: clamp(2rem, 1.09rem + 2.08vw, 3.625rem);
            width: 1176px;

            @include breakpoint-max($bp:1650px) {
                width: 1024px;
            }

            @include breakpoint-max($bp:1024px) {
                width: 770px;
            }

            span {
                &:nth-of-type(1) {
                    background-image: url("../../assets/images/text-2.svg");
                    background-position: center;
                    background-size: 300px 300px;
                    background-clip: text;
                    color: transparent;
                }

                &:nth-of-type(2) {
                    background-image: url("../../assets/images/text-1.svg");
                    background-position: center;
                    background-size: 1000% 1000%;
                    color: transparent;
                    background-clip: text;
                }
            }
        }

        &:nth-of-type(2) {
            font-size: clamp(1rem, 0.72rem + 0.64vw, 1.5rem);
            word-wrap: wrap;

            span {
                padding-right: 100px;
                position: relative;

                &::after {
                    content: "et address";
                    display: block;
                    top: 0px;
                    left: 0;
                    position: absolute;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                    width: 100%;
                    height: 100%;
                    background-image: url("../../assets/images/text-3.png");
                    background-position: center;
                    background-size: 300px 300px;
                    opacity: .5;
                }
            }
        }
    }

    >div {
        width: 100%;
        margin-top: 25px;
        color: white;
        padding: 30px 5%;
        height: 350px;
        @include flex($justify:space-between, $align:flex-start);

        >div {
            @include flex($direction:column);

            span {
                display: inline-block;
            }

            &:nth-of-type(1) {
                align-items: flex-start;
                margin-top: 52px;

                >span {
                    font-size: 1rem;
                    width: 305px;
                }

                >div {
                    @include flex;
                    gap: 10px;

                    span {
                        font-size: 1.125rem;

                        &:nth-of-type(1) {
                            color: #BEDC7E;
                        }

                        &:nth-of-type(2) {
                            height: .5px;
                            background-color: white;
                            width: 75px;
                        }
                    }
                }
            }

            &:nth-of-type(2) {
                margin-top: auto;

                a {
                    height: 50px;
                    width: 200px;
                    @include flex;
                    font-size: 1.5rem;

                    &:nth-of-type(1) {
                        background-color: white;
                        color: $mainBackground;
                        border-radius: 45px;
                    }

                    &:nth-of-type(2) {
                        text-decoration: underline;
                    }
                }
            }

            &:nth-of-type(3) {
                >span {
                    &:nth-of-type(1) {
                        font-size: 40px;
                        font-weight: 500;
                    }

                    &:nth-of-type(2) {
                        width: 350px;
                        font-size: 1.25rem;
                        margin-bottom: 10px;
                    }

                    &:nth-of-type(3) {
                        text-transform: capitalize;
                        font-size: 1.125rem;
                    }
                }

                >div {
                    position: relative;
                    height: 40px;
                    width: 150px;

                    span {
                        border: 2px solid white;
                        @include flex;
                        width: 36px;
                        height: 36px;
                        position: absolute;
                        overflow: hidden;
                        color: black;
                        border-radius: 50%;

                        &:nth-of-type(1) {
                            left: 0;
                        }

                        &:nth-of-type(2) {
                            left: 25px;
                        }

                        &:nth-of-type(3) {
                            right: 60px;
                            z-index: -1;
                        }

                        &:nth-of-type(4) {
                            right: 30px;
                        }

                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}