$breakpoints: ("mobile": 250px, "mini-tablet": 481px, "tablet": 768px, "laptop": 1025px, "tv": 1281px);

$mainBackground:#121D43;
$purpleText:#552B9D;
$highlightedPurple:#8140A0;
$grayText:#757897;

@mixin breakpoint-max($bp:0) {
    @media (max-width: $bp) {
        @content
    }
}

;

@mixin flex($align:center, $direction:row, $justify:center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');

$dmSans:'DM Sans',
sans-serif;
$lato:'Lato',
sans-serif;
$syne: 'Syne',
sans-serif;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: $dmSans;
}

body {
    background-color: $mainBackground;

    .container {
        min-height: 100%;
        position: relative;

        a {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        height: 2px;
        background-color: rgb(74, 74, 74);
        border-radius: 5px;
    }
}